.Account {
  // text-align: right;
  // text-align: -webkit-right;
  
  // .admin-badge {
  //   display: table-cell;
  // }

  .badge {
    line-height: 18px;
  }

  .address-badge {
    width: 175px;
    word-wrap: break-word;
    white-space: normal;
  }

}