.eth {
  color: @md-blue-500;
}
.fund {
  font-weight: 600;
  color: @md-amber-500;
}
.me {
  color: @md-pink-500;
}

.jumbotron {
  z-index: 10000;
  background-image: url('../../public/jumbo.png');
  border-radius: 0 !important;
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
  color: #fff;

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  img {
    width: 100px;
    height: 100px;
  }

  hr {
    border-top-color: #fff;
    width: 50%;
    // border-top-color: @md-pink-500;
  }

  button {
    color: #fff;
    border-color: #fff;
  }


  // p {
  //   .fund;
  //   &.lead {
  //     .eth;
  //   }
  // }
  
}

.sidebar-left {
  // width: 220px;
  // position: -webkit-sticky;
  // position: sticky !important;
  top: 68px !important;

  button {
    width: 166px;
  }
}

.sidebar-right {
  top: 32px !important;
}

.lead {
  font-size: 1rem !important;
  font-weight: 400 !important;
}