.eth {
  color: @md-blue-500;
}
.fund {
  // font-weight: 600;
  color: @md-amber-500;
}
.me {
  color: @md-pink-500;
}

.jumbotron {
  z-index: 10000;
  // background-image: url('../../public/jumbo.png');
  background-color: #fff !important;
  // background-color: @md-grey-100 !important;
  border-radius: 0 !important;
  background-size: 100% 100%;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: @md-grey-500;
  // position: relative;

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  img {
    width: 100px;
    height: 100px;
  }

  hr {
    border-top-color: @md-grey-500;
    width: 50%;
    // border-top-color: @md-pink-500;
  }

  button {
    color: #fff;
    border-color: #fff;
  }


  p {
    &.lead {
      font-size: 1.5rem !important;
      max-width: 600px;
    }
  }

  .triangles {
    width: 10%;
    height: auto;
  }

  .triangles-top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .triangles-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
  }

}

.sidebar-left {
  // width: 220px;
  // position: -webkit-sticky;
  // position: sticky !important;
  top: 68px !important;

  button {
    width: 166px;
  }
}

.sidebar-right {
  top: 32px !important;
}

.lead {
  font-size: 1rem !important;
  font-weight: 400 !important;
}