.Campaign {
  font-size: 18px;

  .status-icon {
    margin: 0 4px;
  }

  &.Pending {
    .status {
      color: @md-amber-500;
    } 
  }

  .progress {
    height: 30px
  }

  .details {
    text-align: right;
  }

}