.Filters {
  width: 166px;
  .FilterButton {
    background-color: #fff;

    &:hover {
      background-color: @md-grey-200;
      z-index: auto !important;
    }

    &.active {
      &.Pending,
      &.Commit {
        color: @md-amber-900;
        background-color: @md-amber-100;
      }

      &.Active,
      &.Reveal {
        color: @md-blue-900;
        background-color: @md-blue-100;
      }

      &.Successful,
      &.Approved {
        color: @md-green-900;
        background-color: @md-green-100;
      }

      &.Unsuccessful,
      &.Rejected {
        color: @md-red-900;
        background-color: @md-red-100;
      }

      &.All,
      &.Cancelled {
        color: @md-grey-900;
        background-color: @md-grey-300;
      }
    }
  }
}
