.Filters {
  width: 166px;
  .FilterButton {
    // background-color: @md-grey-100;
    
    &.true {
      color: #fff !important;
    }

    &.filterIndex0 {
      // color: @md-amber-500;
      &.true {
        background-color: @md-amber-500;
      }
    }
    &.filterIndex1 {
      // color: @md-blue-500;
      &.true {
        background-color: @md-blue-500;
      }
    }
    &.filterIndex2 {
      // color: @md-green-500;
      &.true {
        background-color: @md-green-500;
      }
    }
    &.filterIndex3 {
      // color: @md-red-500;
      &.true {
        background-color: @md-red-500;
      }
    }
    &.filterIndex4 {
      // color: @md-grey-500;
      &.true {
        background-color: @md-grey-500;
      }
    }
  }
}