.navbar {
  // background-color: #fff;
  padding-left: 8px !important;
}

.navbar-brand {
  img {
    // margin-top: -18px;
    width: 36px;
    height: 36px;
  }

  .logo {
    font-size: 28px;
    .eth {
      color: @md-blue-500;
    }
    .fund {
      // font-weight: 600;
      color: @md-amber-500;
    }
    .me {
      color: @md-red-500;
    }
  }
}