.Vote {
  &.Commit {
    .status {
      color: @md-amber-500
    }
  }

  &.Reveal {
    .status {
      color: @md-blue-500
    }
  }
  
  &.Approved {
    .status {
      color: @md-green-500
    }
  }
  
  &.Rejected {
    .status {
      color: @md-red-500
    }
  }

  &.Cancelled {
    .status {
      color: @md-grey-500
    }
  }
}

// Colored Card Footers
// .card-footer {
//   &.Commit {
//     background-color: @md-amber-100 !important;
//   }

//   &.Reveal {
//     background-color: @md-blue-100;
//   }
  
//   &.Approved {
//     background-color: @md-green-100;
//   }
  
//   &.Rejected {
//     background-color: @md-red-100;
//   }

//   &.Cancelled {
//     background-color: @md-grey-100;
//   }
// }