.Vote {
  &.Commit {
    .status {
      color: @md-amber-500
    }
  }

  &.Reveal {
    .status {
      color: @md-blue-500
    }
  }
  
  &.Approved {
    .status {
      color: @md-green-500
    }
  }

  &.Rejected {
    .status {
      color: @md-red-500
    }
  }

  &.Cancelled {
    .status {
      color: @md-grey-500
    }
  }
}